<% if flash[:message].present? %>
    <p> <%= flash[:message] %> </p>
<% end %>

<h1>Log in</h1>
<div class="header">
    <div class="header">
        <%= form_tag "/login" do %>
        <h1>Email: <%= text_field_tag :email %></h1>
        <h1>Password: <%= password_field_tag :password %></h1>
            <%= submit_tag "Log in" %>
        <% end %>

    <h2>New user? <%= link_to "Sign up now!", new_passenger_path %></h2>
    </div>
</div>