<div class="header">

<h1 id="welcome">Welcome, <%= @passenger.first_name %>!</h1>

</div>

<% if @passenger.reservations.any? %>
    <h2 id="here">Here are your current reservations:</h2>
       <% @passenger.reservations.each do |res| %>
            <h3 id="passenger"><li id="passenger">Your trip on <%= res.departure_date %> to <%= res.destination_city %> </h3></li>
            <p id="passenger"><%= link_to "View this Reservation", reservation_path(res) %></p>
          <%end%>
      
<% else %>
    <h2 id="passenger">You have no current reservations.</h2>
<% end %></ul><br><br>

<p id="links"><%= link_to "Book a Reservation", new_reservation_path %></p> <br>  
<p id="links"><%= link_to "Update your Account Information", edit_passenger_path %></p><br>   
<p id="links"><%= link_to "Logout", logout_path, method: "delete" %></p>  <br>
<p id="links"><%= link_to "Delete your Account", passenger_path(@passenger), method: "delete" %></p>
