<h3 class=login><%= link_to "Log In", login_path %> or <%= link_to "Create an Account", new_passenger_path %></h3>

<h1> Welcome to NOM Railways!</h1> 
<h2>Below you'll find brief descriptions of our 3 major routes:</h2>




<% @routes.each do |route|  %>
<h2 class="routes"><%= route.name %></h2> 
<p class="routes"><%= link_to "Click here", route_path(route) %> to see all the cities this line stops in.</p>

<% end %>

<h3><%= link_to "Click here", analytics_path %> to see our most popular travel options</h3>



